@import "tailwindcss";

/* Utility font class */
* {
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --color1: #d10034b9;
}

@keyframes pulseColorVar {
  0% {
    background-color: color-mix(in srgb, var(--color1) 40%, white);
  }
  50% {
    background-color: var(--color1);
  }
  100% {
    background-color: color-mix(in srgb, var(--color1) 40%, white);
  }
}

.animate-color-pulse {
  animation: pulseColorVar 2.5s ease-in-out infinite;
}

@keyframes inkFlow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 200%;
  }
}

.animate-ink-flow {
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--color1) 80%, white),
    color-mix(in srgb, var(--color1) 50%, white),
    color-mix(in srgb, var(--color1) 15%, white),
    color-mix(in srgb, var(--color1) 50%, white),
    color-mix(in srgb, var(--color1) 80%, white)
  );
  background-size: 100% 200%;
  animation: inkFlow 5s ease-in-out infinite;
}

.gallery-swiper .swiper-pagination {
  bottom: -5px !important; /* increase/decrease as needed */
}

.gallery-swiper .swiper-pagination-bullet {
  background-color: #c0294fb9;
}

.gallery-swiper .swiper-pagination-bullet-active {
  background-color: #d10034b9;
}

/* ===== Seamless Skills Marquee ===== */

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-inner {
  display: flex;
  width: max-content;
  animation: marquee-scroll 25s linear infinite;
}

.marquee-inner:hover {
  animation-play-state: paused;
}

/* ===== Custom Scrollbar ===== */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #d1003473 transparent;
}

/* Chrome / Edge / Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(in srgb, var(--color1), black 15%);
}
